.customerdiscount-section {
    width: 100%;
    max-width: 1530px;
    height: 514px;
    background-color: #f5f5f5;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 100px;
    border-radius: 20px;
}

.customerdiscount-content {
    width: 100%;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customerdiscount-section {
    width: 100%;
    max-width: 1530px;
    height: 514px;
    background-color: #f5f5f5;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 100px;
    border-radius: 20px;
}

.customerdiscount-content {
    width: 100%;
    max-width: 500px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.customerdiscount-section h1 {
    width: 100%;
    max-width: 365px;
    height: 104px;
    margin-left: 200px;
    font-size: 40px;
    font-weight: 600;
    color: white;
    font-family: 'Inter';
}

.customerdiscount-section p {
    width: 100%;
    max-width: 365px;
    margin-left: 200px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    font-family: 'Inter';
    margin-top: -20px;
}

.customerdiscount-section h5 {
    width: 100%;
    max-width: 365px;
    margin-top: 60px;
    margin-left: 200px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    font-family: 'Inter';
    margin-bottom: 10px;
}

.customerdiscount-input {
    position: relative;
    width: 100%;
    max-width: 442px;
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;

}

.customerdiscount-input input {
    width: 100%;
    max-width: 340px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    font-weight: 400;
    color: #05073C;
    font-family: 'Inter';
}

.customerdiscount-input .send-btn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    height: 40px;
    padding: 0 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background-color: white;
    color: #05073C;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Inter';
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}