.discount-section {
    width: 95%;
    max-width: 1200px;
    margin: 50px auto;
    height: 400px;
    border-radius: 16px;
    position: relative;
    overflow: hidden;
    color: white;
}

/* Background Slider */
.slider {
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    animation: slideShow 15s infinite;
    z-index: 1;
}

/* Dark overlay */
.discount-section::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

/* Content */
.discount-content {
    position: relative;
    z-index: 3;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    font-family: 'Inter';
}

.highlight {
    color: #ff5722;
    font-weight: 700;
    font-size: 40px;
}

.discount-btn {
    margin-top: 20px;
    padding: 12px 30px;
    background-color: #ff5722;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

.discount-btn:hover {
    background-color: #e64a19;
}

/* Keyframes */
@keyframes slideShow {
    0% {
        background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e");
    }

    33% {
        background-image: url("https://images.unsplash.com/photo-1469474968028-56623f02e42e");
    }

    66% {
        background-image: url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee");
    }

    100% {
        background-image: url("https://images.unsplash.com/photo-1507525428034-b723cf961d3e");
    }
}