body {
    margin: 0;
}

.main-container {
    width: 100%;
    min-height: 100vh;
    background-color: #f5f5f5;
    /* Light grey background for visibility */
    display: flex;
    flex-direction: column;
}