.footer-container {
    width: 100%;
    background-color: #FAFAFA;
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.footer-content {
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.footer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 30px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-header p {
    font-size: 18px;
    color: #05073C;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.footer-links-container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    gap: 40px;
}

.footer-column h3 {
    font-size: 18px;
    font-weight: 600;
    color: #05073C;
    margin-bottom: 25px;
    font-family: 'Inter', sans-serif;
}

.footer-column p,
.footer-column a {
    display: block;
    font-size: 15px;
    color: #05073C;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
    margin-bottom: 12px;
    line-height: 1.6;
    transition: color 0.2s;
}

.footer-column a:hover {
    color: #EB662B;
    transform: translateX(5px);
}

.footer-column a {
    display: inline-block;
    /* Required for transform */
    transition: all 0.3s ease;
}

.footer-contact p {
    max-width: 250px;
}

.footer-newsletter input {
    width: 100%;
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid #E5E5E5;
    background: white;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    outline: none;
}

.newsletter-form {
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
}

.newsletter-form button {
    position: absolute;
    right: 5px;
    top: 5px;
    bottom: 5px;
    border: none;
    background: transparent;
    color: #05073C;
    font-weight: 500;
    cursor: pointer;
    padding: 0 15px;
    font-family: 'Inter', sans-serif;
}

.footer-mobile-apps h3 {
    margin-bottom: 20px;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .footer-links-container {
        grid-template-columns: 1fr 1fr;
        gap: 40px;
    }
}

@media (max-width: 768px) {
    .footer-container {
        width: 89%;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-links-container {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .footer-header {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        gap: 15px;
    }

    .footer-newsletter input {
        padding: 12px 0px;
    }
}

@media (max-width: 480px) {
    .footer-header p {
        font-size: 16px;
    }

    .footer-links-container {
        gap: 25px;
    }
}